.partner {
  background: linear-gradient(90deg, #003378 0%, #05104B 100%);
}
.App {
  background-image: url('./images/mainbg.png');
}
.my-nav {
  background-image: url("./images/navstyleimg.png");
  background-size: cover;
  height: 15vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-left: 8rem;
}
.carousel div .headarea {
  background-image:  url('./images/headbg.png'), url('./images/btcimg.png');
  background-size: 52%, 30%;
  background-repeat: no-repeat;
  background-position: right top, 93% center;
  height: 70vh;
  height: max-content;
}
.headtextShadow {
  filter: drop-shadow(.5px 1px 5px rgba(255, 255, 255, 0.541));
}
.explorebtn {
  width: 16rem;
}
.carousel div {
 
  height: fit-content;
  margin: auto;
}
ul.slick-dots {
  position: absolute;

}
ul.slick-dots li {
  display: flex;
  margin-bottom: 5px;
  margin-left: 2rem;
  transform: translate(4vw, -40vh);
}
ul.slick-dots li button:before {
 color: #fff;
 text-align: start;
 opacity: 1;
}
ul.slick-dots li.slick-active button:before {
  color: transparent;
  content: "";
  background-color: #fff;
  border-radius: 3px;
  width: 5px;
 }
@media  screen and (max-width: 800px) {
  .my-nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .headarea {
    background-position: center bottom;
    background-size: 110%;
  }
  ul.slick-dots {
    transform: translate(-5vw, 5vh);
  }
  .explorebtn {
    width: 40%;
    padding-bottom: 2rem;
  }
  .carousel div .headarea {
    background-image:  url('./images/headbg.png'), url('./images/btcimg.png');
    background-size: 52%, 60%;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 70vh;
    height: max-content;
  }
}